*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
.idea
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
old
try

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Complexity
output/*.html
output/*/index.html

# Sphinx
doc/_build

# Cookiecutter
output/
boilerplate/

toto/
example/wheels/
example/venv_toto/
example/pkg_tata/
